/* @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
*{
    margin: 0;
    top: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background:  #ffffff url(/images/pageBackground.jpg) no-repeat right top;
    content: "";
    /* background:  #ffffff url(/images/pageBackground.jpg) no-repeat right top; */
    position: absolute;
    top: 0px;
    left: 0px; 
    height: 100px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}
/* body::before{
    content: "";
    background:  #ffffff url(/images/pageBackground.jpg) no-repeat right top;
    position: absolute;
    top: 0px;
    left: 0px; 
    height: 100px;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
} */

/* SIDE-BAR 1 */

div .heading{
    /* font-family: 'Luckiest Guy', cursive; */
    font-family: 'Courgette', cursive;
    font-size: 50px;
    padding-top: 15px;
    padding-left: 370px;
    padding-bottom: 2px;
    color: #97c43d;
}
div .heading span{
    color: #ff8304;
}


div .design{
    color: #a6a6a6;
    padding-left: 370px;
    font-size: 14px;
    /* padding-left: 483px; */
}
div .design a{
    color: #ff8304;
}
div .design a:hover{
    text-decoration: none;
}
div .navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding:20px 0px;
    justify-content: right;
}
div .navbar ul li a{
    text-decoration: none;
    padding: 5px 20px;
    background-color: whitesmoke;
    color: grey;
    font-size: 20px;
}
div .navbar ul li a:hover{
    color: #97c43d;
}
div .navbar ul #active a{
    color: #97c43d;
}
.pageContainer{
    /* border: 2px solid red; */
    display: flex;
    /* flex-direction: row; */
}
.sidebar1{
    /* border: 2px solid green; */
    display: flex;
    width: 500px;
    height: 810px;
    margin-left: 370px;
    border-radius: 10px;
    background-color: rgb(224, 222, 222);
}
.sidebar2{
    /* border: 2px solid burlywood; */
    width: 250px;
    margin-left: 28px;
    height: 880px;
    border-radius: 10px;
    background-color: rgb(224, 222, 222);
}
.lefttop p{
    font-size: 13px;
    padding: 19px 19px;
}
.lefttop p a{
    color: #ff8304;;
}
.lefttop p a:hover{
    text-decoration: none;
}
.collection{
    background-color: #4a4a4a;
    color: white;
    /* margin: top right bottom left; */
    margin: 0px 19px 19px 19px;
    font-size:27px;
    padding: 3px 3px;
    font-style: italic;
}
.box1{
    display: flex;
    flex-direction: row;
}
.box1 .imageone img{
    /* padding: 0px 19px 19px 19px; */
    padding:0px 15px 5px 19px;
    height: 102px;
}
.box1 .contentone{
    font-size: 13px;
    margin-right: 19px;
}
.box1 .contentone a{
    font-size: 11px;
    background-color: #4a4a4a;
    justify-content: right;
    text-decoration: none;
    color: white;
    padding: 2px 2px;
    /* align-items: left; */
    /* justify-content: left; */
}
.box1 .contentone .ancor{
    margin-left: 230px;
}
.horSeprator{
    border:1px dotted black;
    margin: 0px 19px;
    margin-bottom: 10px;
}

/* SIDE-BAR 2 */

.collectionone{
    margin: 18px 15px;
    background-color: #4a4a4a;
    color: white;
    font-size: 24px;
    padding: 3px 3px;
    font-style: italic;
    margin-top: 43px;
}
.righttop ul li a{
    text-decoration: none;
    font-size: 13px;
    color: black;
}
.righttop ul li{
    padding: 2px 0px;
}
.collectiontwo{
    margin: 18px 15px;
    background-color: #4a4a4a;
    color: white;
    font-size: 24px;
    padding: 3px 3px;
    font-style: italic;
}
.para{
    font-size: 13px;
    margin: 3px 15px;
}
.logo {
    /* display: inline-block;
    border: 2px solid red;
    margin: 10px auto;
    width: 50%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    /* justify-content: center; */
}
.logoone{
    display: flex;
    flex-direction: column;
    align-items: center;   
    margin-top: 2px;
}